[user]
	name = Nathan Anderson
	email = andnat@gmail.com
	signingkey = 0xAB2E8BA30A3CD935
[core]
	excludesfile = /Users/nathan/.gitignore
	#pager = delta

#[delta]
	#plus-color = "#012800"
	#minus-color = "#340001"
	#syntax-theme = Monokai Extended
	#line-numbers = true

[interactive]
	diffFilter = delta --color-only
[format]
  pretty = %Cblue%h%Creset %Cgreen[%ar]%Creset (%an) %s
[alias]
  c = commit -m
  ca = commit --amend
  cbr = checkout -b
  ci = commit
  co = checkout
  cp = cherry-pick
  pl = pull
  ps = push
  plre = pull --rebase
  st = status -sb
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  pr = remote prune origin
  up = "!git remote update -p; git merge --ff-only @{u}"
  top = "!git log --format='%an' | sort | uniq -c | sort -nr"
  rbc = rebase --continue
  rbi = rebase -i
  lp = log -p
  graphy = log --graph --pretty=format:'%h %d' --abbrev-commit --date=relative
  vim = !vim .git/index
  undo = reset --soft HEAD^
[rerere]
	enabled = true
[push]
	default = current
	followTags = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[branch]
	autosetuprebase = always
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[tag]
	gpgsign = false
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true
    tool = vimdiff
    renameLimit = 0
[diff]
    renames = copies
    renameLimit = 0
    indentHeuristic = true
[fetch]
	prune = true
[include]
	path = ~/.gitconfig.shipyard
